.profile-completion-page {
    padding: 20px;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
     
  }
  
  .completion-steps {
    display: flex;
    gap: 20px;
    justify-items: center;
    justify-content: center;
    padding: 40px;
}
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  