.signup-link {
    margin-top: 20px;
    font-size: 14px;
    color: #777;
  }
  
  .signup-link a {
    color: #3a8dff; /* Blue color for the link */
    text-decoration: none;
    font-weight: bold;
  }
  
  .signup-link a:hover {
    text-decoration: underline;
  }
  